## All template parts which are dependend on the generate options are set in this
## file. The static parts are inherited.

<%inherit file="base.tmpl"/>

<%block name="shebang">\
#!/usr/bin/env python2
</%block>

<%block name="xinit">\

if __name__ == '__main__':
    import ctypes
    import sys
    if sys.platform.startswith('linux'):
        try:
            x11 = ctypes.cdll.LoadLibrary('libX11.so')
            x11.XInitThreads()
        except:
            print "Warning: failed to XInitThreads()"
</%block>

<%block name="class_init">
class ${self.class_name}(gr.top_block, Qt.QWidget):

    def __init__(${self.param_str}):
        gr.top_block.__init__(self, "${title}")
        Qt.QWidget.__init__(self)
        self.setWindowTitle("${title}")
        try:
            self.setWindowIcon(Qt.QIcon.fromTheme('gnuradio-grc'))
        except:
            pass
        self.top_scroll_layout = Qt.QVBoxLayout()
        self.setLayout(self.top_scroll_layout)
        self.top_scroll = Qt.QScrollArea()
        self.top_scroll.setFrameStyle(Qt.QFrame.NoFrame)
        self.top_scroll_layout.addWidget(self.top_scroll)
        self.top_scroll.setWidgetResizable(True)
        self.top_widget = Qt.QWidget()
        self.top_scroll.setWidget(self.top_widget)
        self.top_layout = Qt.QVBoxLayout(self.top_widget)
        self.top_grid_layout = Qt.QGridLayout()
        self.top_layout.addLayout(self.top_grid_layout)

        self.settings = Qt.QSettings("GNU Radio", "${self.class_name}")
        self.restoreGeometry(self.settings.value("geometry").toByteArray())
</%block>

<%block name="close_method">\
## QT sink close method reimplementation

    def closeEvent(self, event):
        self.settings = Qt.QSettings("GNU Radio", "${self.class_name}")
        self.settings.setValue("geometry", self.saveGeometry())
        event.accept()
    %if flow_graph.get_option('qt_qss_theme'):

    def setStyleSheetFromFile(self, filename):
        try:
            if not os.path.exists(filename):
                filename = os.path.join(
                    gr.prefix(), "share", "gnuradio", "themes", filename)
            with open(filename) as ss:
                self.setStyleSheet(ss.read())
        except Exception as e:
            print >> sys.stderr, e
    %endif
</%block>

<%block name="argument_parser">
## Set argument_parser function
<%def name="make_default(type, param)">
    %if type == 'eng_float':
eng_notation.num_to_str(${param}.get_make())
    %else:
${param}.get_make()
    %endif
</%def>\
<%def name="make_short_id(param)">
    <% short_id = param.get_param('short_id').get_evaluated() %>
    %if short_id:
        <% short_id = '-' + short_id %>
    %endif
${short_id}
</%def>\
<% self.params_eq_list = list() %>\
%if parameters:

def argument_parser():
<% arg_parser_args = '' %>\
    %if flow_graph.get_option('description'):
<% arg_parser_args = 'description=description' %>\
    description = repr(flow_graph.get_option('description'))
    %endif
    parser = ArgumentParser(${arg_parser_args})
    %for param in parameters:
<% type = param.get_param('type').get_value() %>\
        %if type:
## FIXME: test me: the next line should equal this: #silent $params_eq_list.append('%s=options.%s'%($param.get_id(), $param.get_id()))
<% self.params_eq_list.append('{}=options.{}'.format(param.get_id(), param.get_id())) %>\
    parser.add_argument(
        %if make_short_id(param):
        "${make_short_id(param)}", \
        %endif
        "--${param.get_id().replace('_', '-')}", dest="${param.get_id()}", type=${type}, default=${make_default(type, param)},
        help="Set ${param.get_param('label').get_evaluated() or param.get_id()} [default=%(default)r]")
        %endif
    %endfor
    return parser
%endif
</%block>

<%block name="main">
## Set main function
def main(top_block_cls=${self.class_name}, options=None):
    %if parameters:
    if options is None:
        options = argument_parser().parse_args()
    %endif
    %if flow_graph.get_option('realtime_scheduling'):
    if gr.enable_realtime_scheduling() != gr.RT_OK:
        print "Error: failed to enable real-time scheduling."
    %endif

    from distutils.version import StrictVersion
    if StrictVersion(Qt.qVersion()) >= StrictVersion("4.5.0"):
        style = gr.prefs().get_string('qtgui', 'style', 'raster')
        Qt.QApplication.setGraphicsSystem(style)
    qapp = Qt.QApplication(sys.argv)

    tb = top_block_cls(${', '.join(self.params_eq_list)})
    %if flow_graph.get_option('run'):
        %if flow_graph.get_option('max_nouts'):
    tb.start(${flow_graph.get_option('max_nouts')})
        %else:
    tb.start()
        %endif
    %endif
    %if flow_graph.get_option('qt_qss_theme'):
    tb.setStyleSheetFromFile($repr{flow_graph.get_option('qt_qss_theme')})
    %endif
    tb.show()

    def quitting():
        tb.stop()
        tb.wait()
    qapp.connect(qapp, Qt.SIGNAL("aboutToQuit()"), quitting)
        %for m in monitors:
    if 'en' in ${m.params}:
        if ${m.params['en'].get_value()}:
            (tb.${m.get_id()}).start()
    else:
        sys.stderr.write("Monitor '{0}' does not have an enable ('en') parameter.".format("tb.${m.get_id()}"))
        %endfor
    qapp.exec_()


if __name__ == '__main__':
    main()
</%block>
